@model List <JUIN.Models.Station>
@{
    Layout = "";
    var UserName = ViewBag.Username;
    var Stations = Model;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@UserName</h1>
    <p>This is a p.</p>

    <span>This is a p1.</span>
    <br />
    <span>This is a p2.</span>

    <ul>
        @for (var i = 0; i < Stations.Count; i++)
        {
            <li>
                @Model[i].StationIdentifier<br />
                @Model[i].WaterLevel
            </li>

        }

    </ul>

    <table style="width:100%;border:1px solid red;">
        <thead>
            <tr>
                <th style="border:1px solid red;">Firstname</th>
                <th style="border:1px solid red;">Lastname</th>
                <th style="border:1px solid red;">Age</th>
            </tr>
        </thead>
        <tbody style="border:1px solid red;">
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">(@UserName) 共幾筆資料</td>
            </tr>
        </tfoot>


    </table>
</body>
</html>